
<!DOCTYPE html>
<html lang="ja" >
<head>
  <meta charset="utf-8"/>
  <title>index</title>
</head>

<body>

<h1 id="post-to-twitter"><a name="post-to-twitter" href="#post-to-twitter"></a>post to twitter</h1>

{% if is_succusessed %}
<p>post is succusessed</p>
{% endif%}

{% if is_authed %}
<p>authed</p>
{% else %}
<p>not authed</p>
{% endif%}

<h2 id="auth"><a name="auth" href="#auth"></a>auth</h2>

<h2 id="post"><a name="post" href="#post"></a>post</h2>

<form action="{% url 'post' %}" method="post">
  {% csrf_token %}
  <p>
    <textarea name="message" rows="4" cols="40"></textarea>
  </p>
  <p>
    <input type="submit" value="submit"><input type="reset" value="reset">
  </p>
</form>

</body>
</html>
